/* Landing Page Static Styling */

.logo {
  font-size: 75px;
  margin-bottom: 50px;
}

.quote {
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  font-size: 36px;
  line-height: 10px;
}

.right {
  font-size: 24px;
}

.link {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
}

.signup {
  background-color: #baabff;
  position: relative;
  color: white;
  border: none;
  display: block;
  margin: 10px auto;
  bottom: 1px;
  border-radius: 30px;
  padding: 10px 90px;
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.login {
  background-color: #4ed2a1;
  color: white;
  border: none;
  display: block;
  margin: 10px auto 0px;
  border-radius: 30px;
  padding: 10px 98px;
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  cursor: pointer;
}
