/* Signup Form Static Styling */
.container {
  margin-top: 200px !important;
  text-align: center !important;
}

div {
  margin: auto !important;
}

.form-group {
  margin-bottom: 20px !important;
}
