<!-- Base Static Template -->
<!-- Used for every template which then loads their own static block content -->

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Base Template File">
    <meta name="author" content="Team Serenity">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static '/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>

    <!-- Base template styling -->
    <link href="{% static '/user/base.css' %}" rel="stylesheet">

    <!-- Load in custom stylings for each page -->
    {% block style %}
    {% endblock %}

  </head>

  <body id="gradient">
    {% block content %}
    {% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static '/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Load in custom JavaScript for each page -->
    {% block script %}
    {% endblock %}
  </body>
</html>
