<!-- Landing Page Template -->

{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
<link href="{% static 'user/css/landing-page.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
Serenity
{% endblock %}

{% block content %}
  <div class="landing-page">
    <h1 class="logo">Serenity</h1>
    <p class="quote">With the new day comes new strength and new thoughts.</p>
    <p class="quote"><span class="right">— Eleanor Roosevelt</span></p>
    <a class="button" href="{% url 'user_signup' %}"><button class="signup">Signup</button></a>
    <a class="button" href="{% url 'user_login' %}"><button class="login">Login</button></a>
    <p>
      <a class="link" href="">Support</a>
    </p>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container text-center">
      <p style="font-family: Cabin;"> Copyright &copy; Serenity 2018</p>
    </div>
  </footer>
{% endblock %}
