<!-- Landing Page Template -->

{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
<link href="{% static 'user/css/landing-page.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
Landing Page
{% endblock %}

{% block content %}
  <div class="landing-page">
    <h1 class="logo">Serenity</h1>
    <p class="quote">With the new day comes new strength and new thoughts.<br>
                                                    -Eleanor Roosevelt</p>
    <button class="signup"><a class="button" href="{% url 'user_signup' %}">Signup</button>
    <button class="login"><a class="button" href="{% url 'user_login' %}">Login</a></button>
    <p>
      <a class="link" href="">Support</a>
    </p>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container text-center">
      <p style="font-family: Cabin;"> Copyright &copy; Serenity 2018</p>
    </div>
  </footer>
{% endblock %}
